button {
   width: 150px;
   height: 150px;
   padding: 20px;
   margin: 20px;
   border: 0;
   background-color: antiquewhite;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.btnContainer {
   text-align: center;
   height: 100%;
}

.buttonInnerContainer {
   display: flex;
   align-items: center;
   justify-content: center;
}